.list {
  &__title {
    color: #333;
  }

  &__input {
    padding: 8px;
    margin: 5px;
    width: 200px;
    box-sizing: border-box;
    border: 1px solid #bdc3f5;
  }

  &__btn {
    padding: 8px;
    background-color: #bdc3f5;
    border: 1px solid #7c7f98;

    &:hover {
      background-color: #9fa9fa;
    }
  }

  &-buttons {
    &__item {
      padding: 8px;
      margin: 5px;
      background-color: #007bff;
      color: white;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: #0056b3;
      }
    }
  }

  &-items {
    &__task {
      padding: 10px;
      margin: 5px;
      border: 1px solid #ccc;
      background-color: #f9f9f9;
    }

    &-box {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      &__btn {
        background-color: #999ec5;
        padding: 8px;
      }
    }
  }
}
