@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/bootstrap-grid";

@import "service/breakpoints";
@import "service/global";
@import "block/list";

.container {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;

  @include breakpoint($lg-max) {
    max-width: 960px;
  }

  @include breakpoint($sm-max) {
    max-width: 360px;
  }
}
